<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>Loup-Garou en ligne</title>

		<link rel="stylesheet" href="css/styles.css">
	</head>

	<body>

		<div class="wrapper">

			<% if(typeof(error) != 'undefined' && error != undefined) { %>
				<div style="height: 30px;"><%=error%></div>	
			<% } %>

			<h1>Loup-Garou en ligne</h1>

			<div class="section_login">
				<h2>Se connecter</h2>

				<h3>Tu as déjà un compte ? Connecte-toi !</h3>
				
				<form action="http://localhost:2000/login" class="form_login" method="post">

					<div class="style_input">
						<label for="username"></label>
						<input type="text" name="username" />
					</div>

					<div class="style_input">
						<label for="password"></label>
						<input type="password" name="password" />
					</div>

					<div class="style_input">
						<button>Se connecter</button>
					</div>
					
				</form>
			</div>

			<div class="section_register">
				<h2>S'inscrire</h2>

				<h3>Pas encore de compte ? Mais qu'est-ce que tu attends ?</h3>

				<form action="http://localhost:2000/register" method="post">
					<div class="style_input">
						<label for="username"></label>
						<input type="text" name="username" />
					</div>

					<div class="style_input">
						<label for="password"></label>
						<input type="password" name="password" />
					</div>

					<div class="style_input">
						<button>S'inscrire</button>
					</div>
				</form>
			</div>

			

		</div>		

	</body>

</html>
