<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>Vive Node.js !</title>

		<link rel="stylesheet" href="css/styles.css">
	</head>

	<body>

		<h1>Loup-Garou en ligne</h1>

		<div>
			Users

			<ul>
				<li>user 1</li>
				<li>user 2</li>
			</ul>
		</div>

		<div>
			Roles

			<ul>
				<li>role 1</li>
				<li>role 2</li>
			</ul>
		</div>

		<div>
			Title

			<ul>
				<li>title 1</li>
				<li>title 2</li>
			</ul>
		</div>
	
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		
		<script src="js/main.js"></script>

	</body>

</html>