body {
	color: white;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

header div {
	display: inline-block;
	margin-left: 300px;
}
header div:first-child {
	margin-left: 0px;
}

button {
	border: solid 1px white;
    background-color: transparent;
    color: white;
    padding: 10px 14px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.4s;
}

.wrapper {
	width: 80%;
	max-width: 1200px;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	clear: both;
	height: 600px;
}

.section_login, .section_register {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

form button {
}

form input {
	border: solid 1px black;
    background-color: white;
    color: #222;
    padding: 7px 4px;
}



button:hover {
	border: solid 1px black;
    background-color: white;
    color: black;
}

.chat {
	text-align: left;
}

.bloc_left {
	width: 80%;
	display: inline-block;
	vertical-align: top;
}
.bloc_right {
	width: 18%;
	display: inline-block;
	vertical-align: top;
}

.roles li {
	width: 200px;
	text-align: left;
	cursor: pointer;
}

.roles li img {
	margin-right: 30px;
}

.composed {
	text-decoration: underline;
}
.current_role {
	position: relative;
}

.current_role .infos {
	background: white;
    color: black;
    position: absolute;
    top: 0;
    display: none;
}

.chat div {
	margin-top: 10px;
}

.chat div:first-child {
	margin-top: 0px;
}

.current_role:hover .infos {
	display: block;
}


.byGame {
	color: aqua;
}

.byUser {
	color: purple;
}

.byGame:before {
	content: "[GAME] : ";
}

/*
*	HOME
*/
=======
.byPrivate {
	color: red;
}


.rooms {
	max-width: 400px;
	margin: 0 auto;
}

.rooms li {
	border: solid 1px white;
	margin-top: 10px;
}

.rooms li:first-child {
	margin-top: 0;
}

.rooms li a {
	box-sizing: border-box;
	padding: 5px;
	display: block;
	width: 100%;
	text-decoration: none;
}

.rooms li a:hover {
	background-color: white;
	color: black;
}


ul {
	padding: 0;
}

ul li {
	list-style: none;
}

form.create {
	padding: 20px;
	border: solid 1px white;
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

.style_input {
	margin-top: 20px;
}
.style_input:first-child {
	margin-top: 0;
}

a {
	color: white;
}