body {
	color: white;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

header div {
	display: inline-block;
	margin-left: 300px;
}
header div:first-child {
	margin-left: 0px;
}

.wrapper {
	width: 80%;
	max-width: 1200px;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	clear: both;
	height: 600px;
}

.chat {
	text-align: left;
}

.bloc_left {
	width: 80%;
	display: inline-block;
	vertical-align: top;
}
.bloc_right {
	width: 18%;
	display: inline-block;
	vertical-align: top;
}

.roles li {
	width: 200px;
	text-align: left;
	cursor: pointer;
}

.roles li img {
	margin-right: 30px;
}

.composed {
	text-decoration: underline;
}
.current_role {
	position: relative;
}

.current_role .infos {
	background: white;
    color: black;
    position: absolute;
    top: 0;
    display: none;
}

.chat div {
	margin-top: 10px;
}

.chat div:first-child {
	margin-top: 0px;
}

.current_role:hover .infos {
	display: block;
}


.byGame {
	color: aqua;
}

.byGame:before {
	content: "[GAME] : ";
}




ul {
	padding: 0;
}

ul li {
	list-style: none;
}

form.create {
	padding: 20px;
	border: solid 1px white;
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

.style_input {
	margin-top: 20px;
}
.style_input:first-child {
	margin-top: 0;
}

a {
	color: white;
}